ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.ms_dark-bkc{
    background-color: #2C3E50;
    color: white;
}

.ms_darker-bkc{
    background-color: #3A546D;
    color: white;
}

header {
    padding: 10px 0;
}

nav{
    
    min-height: 30px;
}

.ms_header-height{
    min-height: 200px;
}

.ms_green-bkg{
    background-color: #1ABC9C;

}

.ms_portfolio-height{
    min-height: 350px;
}

.ms_about-height{
    min-height: 180px;
}

.ms_contact-height{
    min-height: 250px;
}

.ms_footer-height{
    min-height: 100px;
}

nav .ms_font-weight{
    font-weight: 600;
}

nav .list-nav{
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 600;
}

#jumbo, #about{
    color: white;
}

#jumbo img{
    max-width: 160px;
    padding: 10px;
}

#jumbo h1{
    margin-bottom: 0;
}

.star::before, .star::after{
    content: "";
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: currentColor;
    border-radius: 999px;
}

.star > i{
    margin: 0 10px;
}

.star{
    margin-bottom: 10px;
}

#jumbo .list-jumbo li{
    position: relative;
}

#jumbo .list-jumbo li:nth-child(2)::after,
#jumbo .list-jumbo li:nth-child(2)::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 1px;
    background-color: white;
    margin: 0 5px;
}

#jumbo .list-jumbo li:nth-child(2)::after{
    position: absolute;
    top: 50%;
    right: -15%;
}

#jumbo .list-jumbo li:nth-child(2)::before{
    position: absolute;
    top: 50%;
    left: -15%;
}

#jumbo .list-jumbo{
    margin-bottom: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

#portfolio{
    color: black;
}

#portfolio .portfolio-card{
    max-height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

#about .container .row:nth-child(2){
    padding-left: 50px;
    padding-right: 50px;
}

#about .about-description{
    font-size: 14px;
    font-weight: 400;
}

#about .btn i{
    margin-right: 5px;
}

#contact .container .row:nth-child(2){
    padding-left: 50px;
    padding-right: 50px;
}

#contact .btn{
    background-color: #1ABC9C;
    color: white;
    margin-top: 10px;
    margin-left: 50px;
}

.footer-title{
    font-size: 12px;
}

footer .row .footer-paragraph{
    font-size: 12px;
}

#highlighted-foot{
    color: #1ABC9C;
}
.footer-list li{
    width: 30px;
    height: 30px;
    line-height: 28px;
}

.footer-list{
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    column-gap: 5px;
}

.copyright{
    font-size: 10px;
}
