ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.ms_dark-bkc{
    background-color: #2C3E50;
    color: white;
}

.ms_darker-bkc{
    background-color: #3A546D;
    color: white;
}

nav{
    
    min-height: 30px;
}

.ms_header-height{
    min-height: 200px;
}

.ms_green-bkg{
    background-color: #1ABC9C;

}

.ms_portfolio-height{
    min-height: 350px;
}

.ms_about-height{
    min-height: 180px;
}

.ms_contact-height{
    min-height: 250px;
}

.ms_footer-height{
    min-height: 100px;
}

nav .ms_font-weight{
    font-weight: 600;
}

nav .list-nav{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
}

#jumbo img{
    max-width: 227px;
}

#jumbo{
    color: white;
}
/* debug */
.debug .row{
    border: 1px solid black;
}

.debug [class*="col"]{
    border: 1px solid red;
    min-height: 15px;
}

