.ms_nav-bkc{
    background-color: #2C3E50;
    color: white;
    min-height: 30px;
}

.ms_header-bkc{
    background-color: #1ABC9C;
    min-height: 200px;
}

header section, main{
    padding: 20px 0;
}
/* debug */
.debug .row{
    border: 1px solid black;
    padding: 5px;
}

.debug [class*="col"]{
    border: 1px solid red;
    min-height: 15px;
}